html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  background-color:#0A0C10;
  color: #39D353;
}

canvas {
  display: block;
  background-color: aquamarine;
}


.first {
  margin-top: 250px;
  cursor: none; 
}
